@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: pink;
  }
  ::selection{
    color: #fff;
    background: pink;
  }
  .wrapper{
    width: 400px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.05);
  }
  .wrapper header{
    display: flex;
    font-size: 25px;
    font-weight: 500;
    color: purple;
    padding: 16px 15px;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }
  header i{
    font-size: 0em;
    cursor: pointer;
    margin-right: 8px;
  }